nav ul li {       
        display: inline-block;
        border: 2px solid black;
        width: 150px;
        list-style-type: none;
        padding: 15px 15px 15px 25px;
        margin-top: 0;
        margin-left: 10px;
 }

#navigation {text-align: center}


nav ul li a:hover { 
    border: 1px dotted black;
    }

nav>ul li {width: 100px;
position: relative;
background-color: white;}

nav>ul>li>ul { position: absolute;top: 110%;
    left: -37%; display: none;}

nav>ul>li:hover>ul {display: block}